/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/botman
/vendor/*
/.idea
/.vagrant
/.discovery
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.lock
resources/lang/ru/messages.php

/public/session.madeline.safe.php.lock
/public/session.madeline.safe.php
/public/session.madeline.lock
/public/session.madeline.lightState.php.lock
/public/session.madeline.lightState.php
/public/session.madeline.ipcState.php.lock
/public/session.madeline.ipcState.php
/public/session.madeline.ipc
/public/session.madeline.callback.ipc
/public/session.madeline
/public/MadelineProto.log
/app/Http/Controllers/session.madeline.safe.php.lock
/app/Http/Controllers/session.madeline.safe.php
/app/Http/Controllers/session.madeline.lock
/app/Http/Controllers/session.madeline
/public/madeline-74.phar.version
/public/madeline-74.phar
/app/Http/Controllers/session.madeline.lightState.php.lock
/app/Http/Controllers/session.madeline.lightState.php
/app/Http/Controllers/MadelineProto.log
/app/Http/Controllers/madeline-74.phar.version
/app/Http/Controllers/madeline-74.phar
